@font-face {
    font-family: 'Karton';
    src: url('../fonts/Karton/Karton.eot');
    src: url('../fonts/Karton/Karton.woff') format('woff'),
     url('../fonts/Karton/Karton.ttf') format('truetype'),
      url('../fonts/Karton/Karton.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

 
@font-face {
    font-family: 'Jakobctt';
    src: url('../fonts/Jakobctt/jakobctt.eot');
    src: url('../fonts/Jakobctt/jakobctt.woff') format('woff'), 
    url('../fonts/Jakobctt/jakobctt.ttf') format('truetype'),
     url('../fonts/Jakobctt/jakobctt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KazmannRegular';
    src: url('../fonts/KazmannRegular/KazmannRegular.eot');
    src: url('../fonts/KazmannRegular/KazmannRegular.woff') format('woff'),
      url('../fonts/KazmannRegular/KazmannRegular.ttf') format('truetype'), 
      url('../fonts/KazmannRegular/KazmannRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Kizo';
    src: url('../fonts/KizoReg/Kizo.eot');
    src: url('../fonts/KizoReg/Kizo.woff') format('woff'),
     url('../fonts/KizoReg/Kizo.ttf') format('truetype'), 
     url('../fonts/KizoReg/Kizo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Panton';
    src: url('../fonts/PantonReg/Panton.eot');
    src:  url('../fonts/PantonReg/Panton.woff') format('woff'), 
    url('../fonts/PantonReg/Panton.ttf') format('truetype'),
     url('../fonts/PantonReg/Panton.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KizoLight';
    src: url('../fonts/KizoLight/KizoLight.eot');
    src:  url('../fonts/KizoLight/KizoLight.woff') format('woff'), 
    url('../fonts/KizoLight/KizoLight.ttf') format('truetype'), 
    url('../fonts/KizoLight/KizoLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


